body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
a {
  text-decoration: none;
  display: block;
  text-align: center;
  color: #000;
}
h1 {
  text-align: center;
  color: #878787;
  font-size: 18px;
}
table {
  border: 1px solid #eee;
}
table tr:first-of-type {
  background-color: #616783;
  color: #fff;
}
table tr th,
table tr td {
  padding: 5px;
}
.btn-wrap {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 15px 0;
}
.write-btn {
  text-align: center;
  background-color: #616783;
  color: #fff;
  padding: 5px;
  max-width: 80px;
}
input {
  width: 300px;
  padding: 5px;
  margin: 10px 0;
}
textarea {
  width: 300px;
  padding: 5px;
}

.wrap {
  display:flex;
  flex-direction: column;
}
.wrap form {
   display:flex;
   flex-direction: column;
}